$Very-dark_gray: #3C3C3C;
$Very-light_gray: #f8f8f8;
$white: #FFFFFF;
$desaturated-dark-blue: #415b74;
$Light-yellow: #ffdb58;
$black-shadow: #00000029;
$light-brown: #AC9A85;
$Dark-gray: #9f9f9f;
$Light-gray: #d8d8d8;
$navy-blue: #2196F3;
$light-black: #272727;
$black: #000;
$cyan: cyan;
$dark_brown: #412611;
